@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, *::before, *::after { 
    margin: 0; 
    box-sizing: border-box;
}

:root {
    --main-font: "Space Mono";
    --clr-neutral-light: rgb(242, 242, 242);
    --clr-neutral-dark: #343434;
    --clr-accent-muted: rgb(197, 170, 249);
    --clr-accent-bright: rgb(171, 248, 192);
}

body {
    background-color: var(--clr-accent-muted);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main {
    font-family: var(--main-font);
    text-transform: lowercase;
    font-size:5rem;
}

.welc {
    background-color: var(--clr-neutral-light);
    padding:0.5rem;
    padding-left:1rem;
    padding-right:0.4rem;
    padding-bottom:0.5rem;
    padding-top:0rem;
    display:inline-block;
    border: 0.2rem solid var(--clr-neutral-dark);
    text-transform: none;
    font-weight:700;
}

.welc span {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--clr-accent-bright);
    text-decoration-thickness: 0.15rem;
    text-underline-offset: 3.5rem;
}

.welc flckr {
    font-size:5.2rem;
    font-weight:100;
    margin-left:-0.4rem;

    animation-name: flicker;
    animation-duration:1.2s;
    animation-iteration-count: infinite;
    animation-direction:normal;
}

@keyframes flicker {
    0% {
        opacity: 100%;
    }
    47% {
        opacity: 1;
    }
    53% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.welc::after {
    content: '';
    background-image: url(http://dl.dropbox.com/s/p78kvf64exiwuuv/White-Pixel-Mouse-Cursor-Arow-Fixed.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0vh;
    right: 0vw;
    width:0rem;
    height:0rem;

    animation-name: click;
    animation-duration:3s;
    animation-iteration-count: 1;
    animation-delay: 1.5s;
}

@keyframes click {
    0% {
        width:3.2rem;
        height:5rem;
        bottom: 0vh;
        right: 0vw;
    }
    70% {
        width:3.2rem;
        height:5rem;
        bottom: 44vh;
        right:23vw;
    }
    100% {
        width:3.2rem;
        height:5rem;
        bottom: 44vh;
        right:23vw;
    }
}

.welc-options {
    display:block;
    margin: 3rem;
    padding: 3rem;
    background-color: var(--clr-neutral-light);
    border:0.35rem solid var(--clr-neutral-dark);

    font-family: var(--main-font);
    font-size:3rem;
}

.welc-options span {
    display: block;
}


@media only screen and (min-width:1080px){
    .main { 
        font-size:2.5rem;
    }
    .welc span {
        text-underline-offset: 2.2rem;
    }
    .welc flckr {
        font-size:2.7rem;
    }

    @keyframes click {
        0% {
            width:3.2rem;
            height:5rem;
            bottom: 0vh;
            right: 0vw;
        }
        70% {
            width:3.2rem;
            height:5rem;
            bottom: 39vh;
            right:37vw;
        }
        100% {
            width:3.2rem;
            height:5rem;
            bottom: 39vh;
            right:37vw;
        }
    }
}